@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400&display=swap');
 
body {
  background-color: #fce1e1;
  font-family : "Gaegu", serif;
  font-size : 20px;
  text-align : center;
}

input[type=checkbox] {
  background-color : #FFFF;
  -moz-appearance : none;
  -webkit-appearance: none;
  margin-left : 16px;
  border : 1px solid #fcbbbb;
  width : 14px;
  height : 14px;
  border-radius : 100%;
}

input[type=checkbox]:checked {
  background-color : #fcbbbb;
  -moz-appearance : none;
  -webkit-appearance: none;
  margin-left : 16px;
  border : 1px solid #fcbbbb;
  width : 14px;
  height : 14px;
  border-radius : 100%;
}

.problem {
  font-family : "Gaegu", serif;
  font-size : 20px;
  background-color : #fcbbbb;
  border : 3px solid #fcbbbb;
  margin : 50px;
  border-radius : 20px;
  padding : 8px;
}

.problem:hover {
  border : 3px solid #fca2a2;
  font-family : "Gaegu", serif;
  font-size : 20px;
  cursor : pointer;
  padding : 5px;
}

.submit {
  font-family : "Gaegu", serif;
  font-size : 20px;
  background-color : #fcbbbb;
  border : 3px solid #fcbbbb;
  margin : 50px;
  border-radius : 20px;
  padding : 8px;
}
.submit:hover {
  border : 3px solid #fca2a2;
  font-family : "Gaegu", serif;
  font-size : 20px;
  cursor : pointer;
  padding : 5px;
}

.marker {
  text-align:left;
}

input[type=submit] {
  font-family : "Gaegu", serif;
  font-size : 30px;
  background-color : #fcbbbb;
  border : 3px solid #fcbbbb;
  margin : 50px;
  border-radius : 20px;
  padding : 10px;
  margin-left : 610px;
  margin-right : 610px;
}

input[type=submit]:hover {
  background-color : #fcbbbb;
  border : 3px solid #fca2a2;
  font-family : "Gaegu", serif;
  font-size : 30px;
  cursor : pointer;
}