@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400&display=swap');

body {
  background-color: #fce1e1;
  font-family : "Gaegu", serif;
  text-align: center;
}

p{
  font-size : 25px;
}