@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400&display=swap');

body {
  font-family : "Gaegu", serif;
  text-align: center;
}

h1 {
  font-size : 40px;
  color : black;
  text-align : center;
  font-size : 40px;
  background-color : #fcbbbb;
  margin : 10px;
  border-radius : 20px;
  padding : 10px;
}

input[type=text] {
  border : solid #fcbbbb;
  width : 150px;
  height : 20px;
}

input[type=password] {
  border : solid #fcbbbb;
  width : 150px;
  height : 20px;
}

form {
  font-family : "Gaegu", serif;
  font-size : 20px;
  position : relative;
  bottom : -50px;
  border : 2px solid #fcbbbb;
  border-radius : 20px;
  padding : 10px;
  margin-left : 400px;
  margin-right : 400px;
}

button[type=submit] {
  background-color : #fcbbbb;
  font-family : "Gaegu", serif;
  font-size : 20px;
  font-weight:bold;
  width: 250px; 
  height: 40px;
}

button[type=submit]:hover {
  background-color : #fcbbbb;
  border : 3px solid #fca2a2;
  font-family : "Gaegu", serif;
  font-size : 20px;
  font-weight : bold;
  width : 250px; 
  height : 40px;
  cursor : pointer;
}
p {
  font-size : 18px;
}
/*
div.box1{
  justify-content : center; 
  display: flex;
}
div.box2{
  align-items: center; 
  text-align: center; 
  width: 400px; 
  height: 500px;
}
*/