@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400&display=swap');

body {
  font-family : "Gaegu", serif;
  background-color: #fce1e1;
  width : 100%;
  text-align : center;
}

h1 {
  font-size : 80px;
  color : black;
  text-align : center;
  border-radius : 20px;
  padding : 10px;
  font-family : "Gaegu", serif;
  color : black;
  text-shadow : 2px 2px 5px #fc6f6f;
}

h2 {
  color : #8c8989;
  font-size : 40px;
}

p {
  text-align : center;
  font-size : 20px;
}

a {
  font-size : 20px;
  text-decoration : none;
  background-color: #fcbbbb;
  color: maroon;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius : 20px;
  padding : 10px;
  margin-left : -10px;
  margin-top : 60px;
  width : 150px;
}

a:hover {
  background-color: #fca2a2;
  color: maroon;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius : 20px;
  padding : 10px;
}

div {
  font-weight: bold;
  font-size : 20px;
}
/*
body {
    background-color: #fce1e1;
    font-family : "Gaegu", serif;
    font-size : 20px;
    text-align : center;
  }

a {
  font-size : 20px;
  text-decoration : none;
  background-color: #fcbbbb;
  color: maroon;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius : 20px;
  padding : 10px;
  margin-left : -10px;
  margin-top : 60px;
  width : 150px;
}
*/
/*
span {
    font-family : "Gaegu", serif;
    font-size : 20px;
    background-color : #fcbbbb;
    border : 3px solid #fcbbbb;
    margin : 50px;
    border-radius : 20px;
    padding : 8px;
  }
  
  span:hover {
    border : 3px solid #fca2a2;
    font-family : "Gaegu", serif;
    font-size : 20px;
    cursor : pointer;
    padding : 5px;
  }
  
  body {
    background-color: #fce1e1;
    font-family : "Gaegu", serif;
    font-size : 20px;
    text-align : center;
  }
  */