<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>고양이 생성</title>

</head>

<body>
    <div id="map" style="width:500px;height:400px;"></div> <!-- 지도 박스 -->
    <p><em>지도를 클릭해주세요!</em></p>
    <div id="clickLatlng"></div>

    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e06e9f9b88886eb69986bcdf1d8faa31"></script>
    <script>
        var mapContainer = document.getElementById('map'),
            mapOption = {
                center: new kakao.maps.LatLng(37.6385963847980, 127.1076728599100), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 지도를 클릭한 위치에 표출할 마커입니다
        var marker = new kakao.maps.Marker({
            // 지도 중심좌표에 마커를 생성합니다                             이거 마커 위치를 사용자 위치로 설정하도록 해야함
            position: map.getCenter()
        });
        // 지도에 마커를 표시합니다
        marker.setMap(map);

        // 지도에 클릭 이벤트를 등록합니다
        // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
        kakao.maps.event.addListener(map, 'click', function (mouseEvent) {

            // 클릭한 위도, 경도 정보를 가져옵니다 
            var latlng = mouseEvent.latLng;

            // 마커 위치를 클릭한 위치로 옮깁니다
            marker.setPosition(latlng);

            var latitude = latlng.getLat();
            var longitude = latlng.getLng();
            
            document.getElementById('latitude').value = latitude
            document.getElementById('longitude').value = longitude
        });
    </script>
    <div class="" style="border: 1px; border-color: black;">
        <h1>정보 입력</h1>
        <form method="post" action="{% url 'create' %}" enctype="multipart/form-data">
            {% csrf_token %}
            이름:
            <input name="name" type="text">
            <br><br>
            종류: 
            <input name="species" type="text" placeholder="고등어태비">
            <br><br>
            성별:
            <input name="sex" type="radio" value="1" checked="checked">암
            <input name="sex" type="radio" value="2">수
            <input name="sex" type="radio" value="3">모름
            <br><br>
            중성화 유무:
            <input name="neutral" type="radio" value="1" checked="checked">유
            <input name="neutral" type="radio" value="2">무
            <input name="neutral" type="radio" value="3">모름
            <br><br>
            사람 경계도: 
            <input name="alert" type="radio" value="1" checked="checked">상
            <input name="alert" type="radio" value="2">중
            <input name="alert" type="radio" value="3">하
            <br><br>
            특징: 
            <textarea rows="5" cols="30" name="character" placeholder="먹는 약, 수술여부 등"></textarea>
            <br><br>
            사진 업로드 : <br>
            <input name="photo" type="file">

            <input id="latitude" name="latitude" type="hidden" value=37.6385963847980>   <!-- 위도 보내는 부분 -->
            <input id="longitude" name="longitude" type="hidden" value=127.1076728599100> <!-- 경도 보내는 부분 -->
            <br><br>
            <input type="submit" class="" value="등록">
        </form>
    </div>
</body>

</html>