@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400&display=swap');

body {
    background-color: #fce1e1;
    font-family : "Gaegu", serif;
    font-size : 20px;
    text-align : center;
  }

a {
  font-size : 20px;
  text-decoration : none;
  background-color: #fcbbbb;
  color: maroon;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius : 20px;
  padding : 10px;
  width : 150px;
}

.problem {
  font-family : "Gaegu", serif;
  font-size : 20px;
  background-color : #fcbbbb;
  border : 3px solid #fcbbbb;
  margin : 10px;
  border-radius : 20px;
  padding : 8px;
}

.problem:active {
  border : 3px solid #fca2a2;
  font-family : "Gaegu", serif;
  font-size : 20px;
  cursor : pointer;
  padding : 5px;
}

.name{
  font-size : 27px;
  font: bold;
}