{% load static %}
<!DOCTYPE html>

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- Ajax -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- kakao map -->
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e06e9f9b88886eb69986bcdf1d8faa31&libraries=services,clusterer,drawing"></script>

    <!-- google material icons -->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|
    Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

    <!-- custom css & js-->
    <link rel="stylesheet" href="{% static '/css/main.css' %}">

    <title>디테일페이지</title>
</head>

<body>
    <!-- 데이터 얻어오는 부분 -->
    <div id="latitude" style="display: none;">{{cat_detail.latitude}}</div>
    <div id="longitude" style="display: none;">{{cat_detail.longitude}}</div>
    <div id="photo" style="display: none;">{{cat_detail.photo}}</div>

    <!-- 여기서부터 프론트 만들면 됨 -->
    <!-- 만들 때 민원 신고 버튼, 밥 줬을 때 누르는 버튼, 간식 줬을 때 누르는 버튼, 고양이 아플 떄 신고하는 버튼도 만들어줘. 백엔드 작업은 나중에 할게. -->
    <!-- 각 버튼을 누르면 모달 팝업이 뜨는 거까지만 해줘. https://youtu.be/M8UPyeF5DfM?t=14179 링크 들어가면 딱 나오는 부분에서 만드는 것처럼 해주면 졸을 것 같아. 여기 만드는 방법도 나와 -->

    <!-- 여기에 있는 게 정보 나오는 부분인데 페이지가 생성되기 전에 {{cat_detail.name}} 같은 부분이 텍스트로 치환된다고 생각하면 될 것 같아. -->
    <h1>이름</h1>
    {{cat_detail.name}}
    <h1>등록일</h1>
    {{cat_detail.date}}
    <h1>종 이름</h1>
    {{cat_detail.species}}
    <h1>성별</h1>
    {{cat_detail.sex}}
    <h1>중성화 여부</h1>
    {{cat_detail.neutral}}
    <h1>사람 경계도</h1>
    {{cat_detail.alert}}
    <h1>특징</h1>
    {{cat_detail.character}}
    <h1>등록자</h1>
    {{cat_detail.author}}
    <h1>등록번호(고양이 등록 id)</h1>
    {{cat_detail.id}}
    <h1>이미지</h1>
    {{cat_detail.photo}}

    <div id="map" style="width:500px;height:400px;"></div><!-- 지도 박스 -->

    <script>
        var latitude = $("#latitude").text();
        var longitude = $("#longitude").text();
        var photo = $("#photo").text();
        //console.log(latitude);

        var container = document.getElementById('map');
        var options = {
            center: new kakao.maps.LatLng(latitude, longitude),
            level: 3 //지도 최초 표시될 때 확대 정도
        };
        var map = new kakao.maps.Map(container, options);

        var imageSrc = '/static/media/'+photo,  
            imageSize = new kakao.maps.Size(44, 44),
            imageOption = {offset: new kakao.maps.Point(27, 69)};

        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption)

        var markerPosition = new kakao.maps.LatLng(latitude, longitude);

        var marker = new kakao.maps.Marker({
            position: markerPosition, 
            image: markerImage 
        });

        marker.setMap(map);
    </script>
</body>

</html>