{% load static %}
<!-- static 파일 적용을 위한 코드 -->
<!DOCTYPE html>

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- Ajax -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- kakao map -->
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e06e9f9b88886eb69986bcdf1d8faa31&libraries=services,clusterer,drawing"></script>

    <!-- google material icons -->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|
    Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

    <!-- custom css & js-->
    <link rel="stylesheet" href="{% static '/css/main.css' %}">

    <title>메인페이지</title>
</head>

<body>
    <a href="{% url 'url_test' %}">url_test</a>
    <!--{{ cat_list.1.name }} -->
    <h1>STRAY CAT</h1>
    <h2>GATHER THE CAT!</h2>
    <p>사용자의 지역에 사는 길고양이를 등록하고 <br>다른 사용자들과 공동체를 형성하여<br> 체계화된 길고양이 양육을 할 수 있는 플랫폼 서비스
    </p>
    {% if user.is_authenticated %}
    <div>환영합니다 {{user.name}}님</div>
    <a href="{% url 'logout' %}">로그아웃</a>
    {% else %}
    <a href="{% url 'login' %}">로그인</a>
    {% endif %}

    {% csrf_token %}
    <br><br>
    <center><div id="map" style="width:500px;height:400px;"></div><!-- 지도 --></center>
    {% if user.is_authenticated %}
    <script>

        var container = document.getElementById('map');
        var options = {
            center: new kakao.maps.LatLng(37.638596384798, 127.10767285991),
            level: 3 //지도 최초 표시될 때 확대 정도
        };
        var map = new kakao.maps.Map(container, options);
        map.setMaxLevel(9);

        var positions = [];
        var images = [];
        var posArr = [];
        var returnValue;
        var long
    </script>
    <script>
        //여기 ajax 싹 다 새로 만들어야됨. (데이터 받아오는 방식을 전처리로 바꾸면)
        $.ajax({
            url: "{% url 'getApi' %}",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    const data1 = $.trim(data[i].fields.photo);

                    //위치 정보 추가
                    positions.push({
                        title: data[i].fields.name,
                        latlng: new kakao.maps.LatLng(data[i].fields.latitude, data[i].fields.longitude),
                        content1: `<div style="display: inline-block;"><image src="/static/media/${data1}" width="120px"></div>`,
                        content2: `<div style="padding:5px;">${data[i].fields.name}</div>`,
                        id: data[i].pk
                    });
                    //이미지 정보 추가
                    if (data[i].fields.photo.length != 0)
                        images.push("{% static 'media/' %}" + data[i].fields.photo);
                    else
                        images.push("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png");
                }
            },
            error: function (request, status, error) {
                console.log('실패');
            },
            async: false
        });
        var markers = [];

        // 마커 클러스터러를 생성합니다 
        var clusterer = new kakao.maps.MarkerClusterer({
            map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체 
            averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정 
            minLevel: 2, // 클러스터 할 최소 지도 레벨 
            gridSize: 40,
            //클러스터 스타일, 이 부분을 주석처리하면 원래 이미지로 나옴
            styles: [{
                'width': '52px',
                'height': '52px',
                'background': 'url(../../static/image/eee.png) no-repeat', //이미지의 크기가 52x52여야 함
                'border-radius': '52px',
                'border': '1px solid #1a86ae',
                'color': 'white',
                'textAlign': 'center',
                'lineHeight': '52px',
                'font-weight': 'bold',
                'font-size': '14px',
                'text-shadow': '-1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000'
            }]
        });

        var imageSize = new kakao.maps.Size(33, 33); // 마커 이미지의 이미지 크기 입니다
        var infowindow_list = [];
        $.ajax({
            url: "{% url 'getApi_marked' %}",
            dataType: "json",
            success: function (data) {
                //console.log(data);
                //console.log("data.list: "+ data.list[0].is_marked);
                //d = JSON.stringify(data)
                //console.log("d.list: "+d.list);


                for (var i = 0; i < positions.length; i++) {
                    var markerImage = new kakao.maps.MarkerImage(images[i], imageSize);// 마커 이미지를 생성합니다  

                    // 마커를 생성합니다
                    var marker = new kakao.maps.Marker({
                        map: map, // 마커를 표시할 지도
                        position: positions[i].latlng, // 마커를 표시할 위치
                        title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                        image: markerImage // 마커 이미지 
                    });
                    var de = Number(positions[i].id)
                    var iwContent;
                    if (data.list[i].is_marked) {
                            iwContent = `<div id="${positions[i].id}"; class="marker";>
                                <span class="bookmark material-icons" style="float: left; color: rgb(255, 220, 21);">bookmark </span><br>
                                            <div style="width:150px;text-align:center;padding:6px;>
                                                ${positions[i].content1}
                                            </div>
                                            ${positions[i].content2}
                                            <div class="check"><button type="botton" onclick="location.href='/account/detail/${de}'">추가 정보</button></div> 
                                        </div>` // 도와줘요, 여기 check가 안먹음 submit저럼 현재 선택됨 부분을 동그랗게 만들고 싶어
                        }
                        else {
                            iwContent = `<div id="${positions[i].id}"; class="marker";>
                                <span class="bookmark material-icons" style="float: left; color: rgb(255, 220, 21);">bookmark_border </span><br>
                                            <div style="width:150px;text-align:center;padding:6px;>
                                                ${positions[i].content1}
                                            </div>
                                            ${positions[i].content2}
                                            <div class="check"><button type="botton" onclick="location.href='/account/detail/${de}'">추가 정보</button></div> 
                                        </div>` // 도와줘요, 여기 check 클래스가 안먹음... submit저럼 현재 선택됨 부분을 동그랗게 만들고 싶어, 그리고 이미지 겉에 동그랗게 밖에 흰색이랑 분리되는 선을 만들고 싶어
                        }

                    iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

                    // 마커에 표시할 인포윈도우를 생성합니다 
                    var infowindow = new kakao.maps.InfoWindow({
                        content: iwContent,
                        removable: iwRemoveable
                    });
                    infowindow_list.push(infowindow);
                    // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
                    kakao.maps.event.addListener(marker, 'click', makeOverListener(map, marker, infowindow));

                    markers.push(marker);
                }
                clusterer.addMarkers(markers);
            },
            error: function (request, status, error) {
                console.log('실패22');
            }
        });
        

        function makeOverListener(map, marker, infowindow) {
            return function () {
                for(i=0; i<infowindow_list.length; i++){
                    infowindow_list[i].close()
                }
                infowindow.open(map, marker);
            };
        }


    </script>
    {% endif %}

    <script>

        var bookmark_id;
        var bookmark_text;
        var marked;

        //북마크 아이콘 관리
        $(document).on('click', '.bookmark', function (event) {
            bookmark_id = event.target.id;
            bookmark_text = $.trim($('#' + bookmark_id).html())

            if (bookmark_text == 'bookmark') {
                $('#' + bookmark_id).html('bookmark_border')
                marked = true;
            } else {
                $('#' + bookmark_id).html('bookmark')
                marked = false;
            }
            //북마크 정보 전달
            const csrf = document.getElementsByName('csrfmiddlewaretoken')

            const fd = new FormData();
            fd.append('csrfmiddlewaretoken', csrf[0].value)
            fd.append('cat_id', Number(bookmark_id))
            fd.append('is_marked', marked)

            $.ajax({
                type:'POST',
                url: "{% url 'bookmark' %}",
                data: fd,
                success: function(response){
                    console.log('success')
                    console.log(typeof(marked))
                },
                error: function(error){
                    console.log('error', error)
                },
                cache: false,
                contentType: false,
                processData: false,
            })
        });
    </script>

    <br><br><br>
    {% if user.is_authenticated %}
    <a href="{% url 'create' %}">고양이 생성 페이지</a> <!-- 고양이 생성 페이지 링크 -->
    {% endif %}
</body>

</html>