{% load static %}
<!-- static 파일 적용을 위한 코드 -->
<!DOCTYPE html>

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->

    <!-- Ajax -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- kakao map -->
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e06e9f9b88886eb69986bcdf1d8faa31&libraries=services,clusterer,drawing"></script>

    <!-- custom css & js-->
    <link rel="stylesheet" href="{% static '/css/signup.css' %}">

    <title>메인페이지</title>
</head>

<body>
    <h1>메인페이지</h1>

    {% if user.is_authenticated %}
    <div>환영합니다{{user.username}}님</div>
    <a href="{% url 'logout' %}">로그아웃</a>
    {% else %}
    <a href="{% url 'login' %}">로그인</a>
    {% endif %}

    <div id="map" style="width:500px;height:400px;"></div><!-- 지도 -->

    <script>
        var container = document.getElementById('map');
        var options = {
            center: new kakao.maps.LatLng(37.638596384798, 127.10767285991),
            level: 3 //지도 최초 표시될 때 확대 정도
        };
        var map = new kakao.maps.Map(container, options);
        map.setMaxLevel(9);

        var positions = [];
        var images = [];

        $.ajax({
            url: "{% url 'getApi' %}",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    const data1 = $.trim(data[i].fields.photo);
                    positions.push({
                        title: data[i].fields.name,
                        latlng: new kakao.maps.LatLng(data[i].fields.latitude, data[i].fields.longitude)
                    });
                    if (data[i].fields.photo.length != 0)
                        images.push("{% static 'media/' %}" + data[i].fields.photo);
                    else
                        images.push("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png");
                }
            },
            error: function (request, status, error) {
                console.log('실패');
            },
            async: false
        });
        var markers = [];
        var level = map.getLevel();

        // 마커 클러스터러를 생성합니다 
        var clusterer = new kakao.maps.MarkerClusterer({
            map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체 
            averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정 
            minLevel: 1, // 클러스터 할 최소 지도 레벨 
            gridSize: 40,
            //클러스터 스타일, 이 부분을 주석처리하면 원래 이미지로 나옴
            styles: [{
                'width': '52px',
                'height': '52px',
                'background': 'url(../../static/image/eee.png) no-repeat', //이미지의 크기가 52x52여야 함
                'border-radius': '52px',
                'border': '1px solid #1a86ae',
                'color': 'white',
                'textAlign': 'center',
                'lineHeight': '52px',
                'font-weight': 'bold',
                'font-size': '14px',
                'text-shadow': '-1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000'
            }]
        });
        for (var i = 0; i < positions.length; i++) {

            var imageSize = new kakao.maps.Size(33, 33); // 마커 이미지의 이미지 크기 입니다

            var markerImage = new kakao.maps.MarkerImage(images[i], imageSize);// 마커 이미지를 생성합니다  

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: positions[i].latlng, // 마커를 표시할 위치
                title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                image: markerImage // 마커 이미지 
            });
            markers.push(marker)
        }
        clusterer.addMarkers(markers);
    </script>

    <br><br><br>
    {% if user.is_authenticated %}
    <a href="{% url 'create' %}">고양이 생성 페이지</a> <!-- 고양이 생성 페이지 링크 -->
    {% endif %}
</body>

</html>