{% load static %}<!-- static 파일 적용을 위한 코드 -->
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/signup.css' %}">
</head>

<body>
    <div class="box1">
        <div class="box2">
            <h1>회원가입</h1>
            <form method="POST" action="{% url 'signup' %}">
                {% csrf_token %}
                아이디<br>
                <input name="name" type="text">
                <br>
                비밀번호<br>
                <input name="password1" type="password">
                <br>
                비밀번호 확인<br>
                <input name="password2" type="password">
                <br>
                이메일<br>
                <input name="email" type="email">
                <br><br>
                <input type="submit" class="btn btn-primary" value="Sign Up">
            </form>
        </div>
    </div>
</body>

</html>